<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime.PCL" version="3.5.0.2" targetFramework="net45" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.0.0015" targetFramework="net45" />
  <package id="OsmSharp" version="4.3.0.963-beta" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Zlib.Portable" version="1.9.2" targetFramework="net45" />
</packages>